{% import "_template.html" as temp %}

{% extends "meta.html" %}

{% set site = "Template" %}
{% set theme = "!bg-sky-500" %}

{# Template for rendering navview item #}
{% macro render_row(active, href, icon, caption) %}
    <li class="item-content {{ active }}">
        <a href="{{ href }}">
            <span class="icon"><span class="{{ icon }}"></span></span>
            <span class="caption">{{ caption }}</span>
        </a>
    </li>
{% endmacro %}

{# Template for rendering navview footer #}
{% macro render_ext() %}
    <span class="caption pl-4">
        <p class="text-xs text-neutral-400">
            {{ varargs | join(" ") }}
            {#  #}
        </p>
    </span>
{% endmacro %}

{# Common Head #}
{% block meta_head %}
    {% block _extend_head %}
        <title>{{ site }}</title>
    {% endblock _extend_head %}
{% endblock meta_head %}

{# Common Body #}
{% block meta_body %}
    {# Nav View #}
    <div class="max-h-full">
        <div data-role="navview" data-active-state="true" data-initial-view="compact">
            {# Nav View Panel #}
            <nav class="navview-pane z-10">
                {# Padding bottom to match App Bar heights #}
                <div class="{{ theme }} pb-1">
                    <button class="pull-button {{ theme }}">
                        <span class="mif-menu text-white"></span>
                    </button>
                </div>
                {# Nav View Menu #}
                {% set fade = "bg-gradient-to-b from-gray-100 from-75% to-white" %}
                <ul class="navview-menu h-full {{ fade }}">
                    {# Menu Group #}
                    <p class="item-header">Group</p>

                    {%- set active -%}
                        {% block _temp_page_cur %}
                            {{- "" -}}
                        {% endblock _temp_page_cur %}
                    {%- endset -%}

                    {%- set href -%}
                        {% block _temp_page_url %}
                            {{- url_for("root.main") -}}
                        {% endblock _temp_page_url %}
                    {%- endset -%}

                    {# Page /page/page.html #}
                    {{ render_row(active, href, "mif-cloud", "Title") }}

                    {# Copyright #}
                    <li class="disabled py-4 !absolute bottom-0 left-0">
                        {# {{ render_ext("Login as", user, role) }} #}
                        {{ render_ext("Copyright ©", jinja_site, jinja_year) }}
                    </li>
                </ul>
            </nav>
            {# Nav View Main #}
            <div class="navview-content">
                {# App Bar #}
                <div class="app-bar absolute {{ theme }}" data-role="appbar" data-expand="true">
                    {# Page Title #}
                    <a class="app-bar-item-static absolute inset-x-0 px-4 {{ theme }} cursor-default">
                        <p class="text-2xl font-medium text-white">
                            {{ site }} ~
                            {% block _app_bar_title %}
                            {% endblock _app_bar_title %}
                        </p>
                    </a>
                    <div class="absolute right-0 flex gap-2">
                        {# Addition Button #}
                        {% block _extend_btn %}
                        {% endblock _extend_btn %}
                        {# Exit button #}
                        {#  #}
                        {#  #}
                    </div>
                </div>
                {# Nav View Main Content #}
                <div class="content pt-[3.25rem]">
                    {# Content that inherited by jinja extend #}
                    {% block _extend_body %}
                    {% endblock _extend_body %}
                </div>
            </div>
        </div>
    </div>
{% endblock meta_body %}

{# Common Script #}
{% block meta_script %}
    {% block _extend_script %}
    {% endblock _extend_script %}
{% endblock meta_script %}
