{% macro card(char, result) %}
    {# class="bg-green-500" class="bg-yellow-400" class="bg-gray-600" class="bg-white" #}
    {% set shape = "w-20 h-20 grid place-content-center" %}
    {% set border = "rounded-sm border-solid border-1 border-neutral-500 shadowed" %}
    <a class="{{ shape }} gap-4 {{ result | res2color }} {{ border }}">
        <span class="caption text-center text-4xl font-black text-white">
            {{ char | capitalize  if char.isalpha() else "" }}
            {#  #}
        </span>
    </a>
{% endmacro %}

{% macro field(name, value) %}
    {% set focus = "focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" %}
    {% set border = "border-2 border-gray-300 rounded-xl" %}
    {% set isAlpha = "return /[a-z]/i.test(event.key)" %}
    <input class="w-16 px-2 py-2 text-2xl text-center text-black {{ focus }} {{ border }}"
           type="text"
           maxlength="1"
           onkeydown="{{ isAlpha }}"
           name="{{ name }}"
           value="{{ value }}" />
{% endmacro %}
