{% import "_template.html" as temp %}
{% import "normal/common.html" as common %}

<form id="query" method="post" class="w-full">
    {% set attempt = attempt or 0 %}
    <input type="hidden" name="attempt" value="{{ attempt }}" />
    <div class="container-fluid pb-2">
        {% for gss, res in guess | zip(result) %}
            <div class="grid grid-flow-col auto-cols-fr gap-2 mb-2">
                {% for char, val in gss | zip(res) %}
                    {{ common.card(char, val) }}
                    {#  #}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid content-center pb-2">
        <div class="grid grid-flow-col auto-cols-fr gap-2 mb-2">
            {% for n in range(5) %}
                {{ common.field("key" ~ n) }}
                {#  #}
            {% endfor %}
        </div>
    </div>
</form>

{% if message %}
    {% if message[0] == "win" %}
        {% set dialog = "border-lime-600" %}
        {% set accept = "bg-lime-600 text-xl text-white" %}
        {{ temp.popup(dialog, accept, "Status", message[1]) }}
    {% elif message[0] == "loss" %}
        {% set dialog = "border-red-600" %}
        {% set reject = "bg-red-600 text-xl text-white" %}
        {{ temp.popup(dialog, reject, "Status", message[1]) }}
    {% endif %}
{% endif %}
